.wrapper {
    margin-top: var(--default-layout-header-height);
    width: 100%;
}

.header {
    width: 100%;

    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .wrapper {
        margin-top: 0;
    }
}
