.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #353941;
}

.img-select {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 50%;
    overflow: hidden;
    width: 268px;
    height: 268px;
    margin-bottom: 24px;

    position: relative;

    .image {
        // background-color: #3333;
        border-radius: 50%;
        display: flex;
    }

    .thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }

    .thumb-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        background-color: #453b3b99;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .hover-text {
        color: #fff;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // color: var(--yellow);
    }

    &:hover {
        .thumb-hover {
            display: flex;
        }
    }
}

.btn-box {
    display: block;

    .btn {
        margin: 12px;
    }
}

// Overlay

.overlay {
    background-color: #3333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-list {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 24px;
        background-color: var(--white);
        opacity: 1;
        overflow-x: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 16px;
    }

    .img {
        height: 120px;
        // width: 150px;
        border-radius: 8px;
        margin: 12px;
        object-fit: cover;
        cursor: pointer;

        &:hover {
            transform: scale(1.5);
        }
    }

    .desktop-img {
        background-color: rgba(51, 51, 51, 0.2);
        width: 110px;
        height: 120px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-style: dashed;
    }
}
