.wrapper {
    max-width: 1100px;
    width: 990px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text-color);
}

.banner {
    margin-top: -70px;
    max-width: 100%;
    width: 100%;
    height: 400px;
    background-image: url(../../assets/images/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.user {
    position: absolute;
    bottom: -86px;
    left: 66px;
    display: flex;
    gap: 12px;
}

.avatar {
    width: 172px;
    height: 172px;
    border-radius: 50%;
    border: 7px solid var(--background-color);
    background-color: black;
}

.username {
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
}

.name {
    font-weight: bold;
    font-size: 3rem;
    color: var(--text-color);
}

.body {
    width: 100%;
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    overflow-y: auto;
}

.left-side {
    width: 400px;
    overflow: hidden;
}

.right-side {
    width: calc(100% - 400px);
    overflow: hidden;
}

.box {
    background-color: var(--header-color);
    padding-right: 0;

    .list1,
    .list2 {
        padding-right: 12px;
        overflow-y: auto;
        width: 100%;
        max-height: 700px;
    }

    .list2 {
        max-height: 900px;
    }
}

.item,
.item2 {
    display: flex;
    align-items: center;
    padding: 4px 0;
    margin-top: 12px;

    .img {
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
    }
    .text {
        margin-left: 12px;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        line-height: 1.4;
        display: -webkit-box;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        padding-bottom: 8px;
        overflow-wrap: break-word;
        font-family: serif;
        font-size: 1.4rem;
    }
}

.item2 {
    height: 60px;
    .text {
        font-size: 1.5rem;
        padding-bottom: 4px;
    }
}

.post {
    display: flex;
    align-items: center;
    padding: 4px 0;
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color);
    .post-img {
        min-width: 200px;
        height: 120px;
        border-radius: 16px;
        margin-right: 16px;
        cursor: pointer;
        // object-fit: contain;
    }

    .post-info {
        width: 100%;
        overflow: hidden;
        min-height: 130px;
        cursor: pointer;
    }

    .post-title,
    .post-content {
        font-size: 1.8rem;
        display: -webkit-box;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow-wrap: break-word;
    }
    .post-title {
    }

    .post-content {
        -webkit-line-clamp: 3;
        font-size: 1.6rem;
    }
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .link {
        text-decoration: underline;
        color: var(--primary-color);
    }
}

@media (max-width: 1024px) {
    .body {
        flex-direction: column;
        align-items: center;

        .left-side,
        .right-side {
            width: 90%;
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding-bottom: 100px;
    }
    .body {
        margin-top: 140px;
        .left-side,
        .right-side {
            width: 100%;
        }
    }
    .user {
        left: 50%;
        bottom: -140px;
        transform: translateX(-50%);
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .name {
        font-size: 2.4rem;
    }
}

.strong-text {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 460px) {
    .name {
        font-size: 2rem;
    }
}
