.wrapper {
    min-height: calc(100vh - var(--default-layout-header-height));

    max-width: 1024px;
    width: 100%;
    // display: flex;
    color: var(--text-color);
}
.container {
    max-width: 990px;
    width: 100%;
}

.title {
    font-weight: bold;
    font-family: 'Helvetica Neue';
    margin: 24px 0;
    margin-bottom: 54px;
}

.header {
    max-width: 700px;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 16px;

    .option {
        margin-right: 12px;
        font-size: 1.6rem;
        // overflow: hidden;
        width: 100%;
        position: relative;
        color: var(--two-night-color);
        cursor: pointer;

        &:hover {
            color: var(--text-color);
        }
    }

    .option.active {
        color: var(--text-color);

        font-weight: bold;
        font-size: 1.7rem;

        &:before {
            content: '';
            position: absolute;
            width: inherit;
            height: 2px;
            background-color: var(--black);
            bottom: -13px;
            left: 0;
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
}

.card {
    max-width: 700px;
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
    border: 2px solid var(--border-color);
    margin-bottom: 16px;
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    overflow: hidden;
}

.card-top {
    display: flex;
    justify-content: space-between;
}

.card-title {
    margin-right: 24px;
    font-size: 1.6rem;
    width: 100%;
    // margin-bottom: 8px;
    color: var(--text-color);
    cursor: pointer;
    overflow: hidden;
    &:hover {
        text-decoration: underline;
    }
}

.tool-icon {
    position: absolute;

    top: 4px;
    right: 8px;
    color: var(--text-color);

    opacity: 0.9;
    padding: 4px;
    cursor: pointer;
}

.icon {
    font-size: 1.7rem;
}

.card-bottom {
    display: flex;
    // justify-content: center;
    align-items: center;
}

.card-time {
    color: var(--primary-color);

    // margin-right: 12px;
}

.dot {
    padding: 0 6px;
    padding-bottom: 8px;
    display: flex;
    text-align: top;
    color: var(--text-color);
}

.author {
    color: #29292988;
    color: var(--text-color);
}

// tippy
.tippy {
    min-height: 40px;
}

.delete-btn {
    font-weight: normal;
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 0;
    color: var(--black);

    &:hover {
        background-color: var(--border-color);
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 12px;
    }
}
