// theme 1;
.theme1 {
    width: 700px;
    height: 700px;
    position: relative;
    overflow: hidden;

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .first,
    .second {
        position: absolute;
        padding: 12px;
        font-size: 1.8rem;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        font-weight: bold;
        overflow-y: auto;
    }

    .first {
        top: 12%;
        left: 4%;
        width: 285px;
        height: 190px;
    }

    .second {
        width: 300px;
        height: 190px;
        top: 10%;
        right: 1%;
    }

    @media (max-width: 768px) {
        .wrapper {
            width: 550px;
            height: 550px;
        }

        .first,
        .second {
            font-size: 1.6rem;
        }

        .first {
            width: 220px;
            height: 150px;
        }

        .second {
            width: 235px;
            height: 150px;
            margin: 0;
        }
    }

    @media (max-width: 480px) {
        .wrapper {
            width: 400px;
            height: 400px;
        }

        .first,
        .second {
            font-size: 1.4rem;
            padding: 4px;
        }

        .first {
            width: 160px;
            height: 100px;
        }

        .second {
            width: 170px;
            height: 110px;
            font-size: 1.4rem;
        }
    }
}

.theme2 {
    margin-bottom: 12px;
    display: flex;
    max-width: 100%;
    flex-direction: column;

    .person {
        width: 100%;
        min-height: 60px;
        margin-top: 4px;
        display: flex;
        align-items: center;
        background-color: var(--white);
        border-radius: 8px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin: 0 4px;
    }

    .text {
        padding: 8px 4px;
        color: var(--black);
        font-size: 1.6rem;
    }
}
