.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #353941;
    padding: 24px 12px;

    .error {
        font-size: 6rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
            sans-serif;
        color: var(--yellow);
        font-weight: bold;
    }

    .btn {
        color: #fff;
        font-size: 2rem;
        text-decoration: underline;
    }
}
