.wrapper {
    padding: 3.2rem;
    width: 100%;
    padding-bottom: 64px;
    background-color: #26282b;
    color: #fff;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-list {
    min-width: 200px;
}

.title {
    padding: 12px 8px;
}

.menu-item {
    padding: 8px;
}

@media (max-width: 768px) {
    .wrapper {
        display: none;
    }
}
