// Sugestions
.suggest {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.suggest-list {
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    display: flex;
    margin-top: 24px;
    justify-content: flex-start;
    overflow-x: auto;
}
.suggest-item {
    margin-right: 4px;
    width: 120px;
    min-height: 150px;
    padding: 8px;
    padding-bottom: 16px;
    border-radius: 8px;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    // background-color: var(--border-color);
    transition: background-color 0.05s linear;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        opacity: 0.6;
        height: 4px;
        display: none;
    }

    &:hover {
        background-color: var(--white);

        &::after {
            display: block;
        }
    }

    &:active {
        border-color: var(--primary-color);
    }
}

.suggest-book {
    width: 100%;
    height: 122px;
    border-radius: 4px;
}

.suggest-title {
    font-size: 1.2rem;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    word-wrap: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
